{  
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Password=postgres;Username=postgres;Database={{ database_name }}"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}
