<script lang="ts">
  import { page } from "$app/stores";
  import { onMount } from "svelte";
  import { goto } from "$app/navigation";
  import api from '$lib/auth/http';
  import type { {{ class_name }}Response } from "$lib/api/apiV1";
  {% for property in properties %}{% if property.is_reference%}
  import { map{{ property.type }}ResponseToString } from "$lib/helpers/mappers";
  {% endif %}{% endfor %}

  let loading = true;
  let id = Number($page.url?.searchParams.get("id"));
  let {{ class_name | lower }}: {{ class_name }}Response | null = null;

  onMount(async () => {
    try{
      if (id) {
        const response = await api.v1.{{ class_name | lower }}.get{{ class_name }}ById(id);

        if (response.ok) {
          {{ class_name | lower }} = response.data;
        } else {
          goto('/');
        }
      } else {
          goto('/');
      }
    }
    finally {
    loading = false;
    }
  });

  const handleDelete = async () => {
    const confirmed = confirm("Are you sure you want to delete this {{ class_name | lower }}?");
    if (confirmed) {
      await api.v1.{{ class_name | lower }}.delete{{ class_name }}(id);
      goto('/');
    }
  }
</script>

<div class='flex h-full items-start justify-start border p-10 gap-4'>
  {{ '{#' }}if loading || !{{ class_name | lower + " }" }}
    <div class="m-auto">Loading...</div>
  {:else}
    <div class="flex flex-col gap-y-4">
      <div class="text-lg underline">
        Profile for Publisher:
      </div>
      <div>
        Profile for {{ class_name }}:
      </div>
    {% for property in properties %}   
        <div class="text-left">
        {% if property.is_reference %}
            {{ property.label }}:
            {% if property.is_single_reference %}
            {{ '{'  + class_name | lower + "." + property.name | lower_first_letter + ' ? ' + 'map' + property.type + "ResponseToString(" + class_name | lower + "." + property.name | lower_first_letter + ")" +': ""'+ '}'}}
            {% else %}
            {{ '{' + class_name | lower + "." + property.name | lower_first_letter + '?.' + 'map(map' + property.type + "ResponseToString)" + ' || "None" }' }}
            {% endif %}
        {% else %} 
            {{ property.label }}: {{ '{' + class_name | lower + "." + property.name | lower_first_letter + "}" }}
        {% endif %}
        </div>
      {% endfor %}
    <button class="bg-red-500 text-white p-2 rounded-xl" on:click={handleDelete}>
      Delete
    </button>
    </div>
  {/if}
</div>
