using AutoMapper;
using Microsoft.AspNetCore.Mvc;
using {{ project_name }}.Application.Services;
using {{ project_name }}.Data.Responses;

namespace {{ project_name }}.Controllers;

[ApiController]
[Route("api/[controller]")]
public class {{ class_name }}Controller : ControllerBase
{
    private readonly IMapper mapper;
    private readonly I{{ class_name }}Service {{ class_name | lower }}Service;

    public {{ class_name }}Controller(
        IMapper mapper,
        I{{ class_name }}Service {{ class_name | lower }}Service)
    {
        this.mapper = mapper;
        this.{{ class_name | lower }}Service = {{ class_name | lower }}Service;
    }

    [HttpGet]
    [Route("health-check", Name = "{{ class_name }}HealthCheck")]
    [ProducesResponseType(StatusCodes.Status200OK)]
    public IActionResult HealthCheck()
    {
        return Ok();
    }

    [HttpGet]
    [Route("all", Name = "getAll{{ plural_name }}")]
    [ProducesResponseType(typeof(List<{{ class_name }}Response>), StatusCodes.Status200OK)]
    public async Task<IActionResult> GetAll()
    {
        var {{ plural_name | lower }} = await {{ class_name | lower }}Service.GetAllAsync();
        var {{ plural_name | lower }}Response = mapper.Map<List<{{ class_name }}Response>>({{ plural_name | lower }});
        return Ok({{ plural_name | lower }}Response);
    }
}
