using {{ project_name }}.Data.Requests;
using {{ project_name }}.Data.Responses;
using {{ project_name }}.Domain;
using AutoMapper;

namespace {{ project_name }}.Infrastructure.MappingProfiles;

public class {{ class_name }}Profile : Profile
{
    public {{ class_name }}Profile()
    {
        CreateMap<{{ class_name }}, {{ class_name }}Response>().MaxDepth(1);
        CreateMap<{{ class_name }}Request, {{ class_name }}>();
    }
}
