using {{ project_name }}.Domain;

namespace {{ project_name }}.Application.Repositories;

public interface I{{ class_name }}Repository : IBaseRepository<{{ class_name }}>
{
    Task<List<{{ class_name }}>> GetAllAsync();
}
