namespace {{ project_name }}.Data.Requests;

public record {{ class_name }}Request
{
    public long? Id { get; set; }
    {% for property in properties %}   
    {% if property.is_reference %}
        {% if property.is_single_reference %}
        public long {{ property.name + 'Id' }} { get; set; }
        {% else %}
        public List<long> {{ property.name }}Ids { get; set; } 
        {% endif %}
    {% else %} 
    public {{ property.type }} {{ property.name }} { get; set; } 
    {% endif %}
    {% endfor %}
}
